/*
Colors
Light Blue #3B60E4
Dark Blue #3B60E4
Background Blue #74B3CE
*/

html{
  font-family: Helvetica;
  font-size: 16px;
  color: floralwhite;
}

body{
  background-color: #74B3CE;
  width: 100%;
}

h1{
  font-size: 3rem;
  font-weight: 800;
}

h3{
  font-size: 1.25rem;
  font-weight: bold;
}


/*Header*/
.header{
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 5;
  background-color: #74B3CE;
  margin: 0 auto;
}

.small-header{
  display: none;
}

@media only screen and (max-width: 400px) {
  .small-header{
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 5;
    background-color: white;
  }
  .header{
    display: none;
  }
}

.logo-box{
  display: flex;
  align-items: center;
}

#dark{
  color: #172A3A;
}

#light{
  color: lightgray;
}

.header ul{
  display: flex;
}

ul li{
  padding: 16px;
  list-style: none;
  border-radius: 15px;
}

ul li:hover{
  background-color: #172A3A;
}

/*Banner*/
#banner{
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #508991;
  align-items: center;
  margin: 0 auto;
}

#banner img{
  width: 100%;
  height: 100%;
  padding: 32px 40px 32px 24px;
  border-radius: 50px;
}

.learn-pic{
  width: 60%;
}

.learn-box{
  margin-left: 40px;
  width: 40%;
  max-width: 350px;
  padding: 32px 150px 32px 0;
}

.learn-box > h1,
.learn-box > h4,
.learn-box > span{
  padding: 16px 0;
}

#banner span{
  display: block;
  background-color: #172A3A;
  text-align: center;
  padding: 8px 0;
  border-radius: 5px;
}

@media only screen and (max-width: 400px){
  #banner{
    margin-top: 180px;
    justify-content: center;
  }
  .learn-box{
    width: 100%;
    padding: 32px 16px;
    margin: 0;
  }

  .learn-box h1,
  .learn-box h4,
  .learn-box span{
    padding: 16px 12px;
    text-align: center;
  }

  #banner span{
    padding: 16px 12px;
  }

  .learn-pic{
    display: none;
  }

}

/*Practice Box*/
#practice{
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #74B3CE;
  margin: 0 auto;
}

.practice-hurt{
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 32px 24px;
  justify-content: space-between;
}

.practice-hurt img, video{
  width: 100%;
  padding: 32px 0 32px 0;
}


.practice-hurt h2,
.practice-hurt span{
  margin: 0;
  padding: 0 0 24px 0;
}

.practice-hurt h2{
  font-weight: 800;
  font-size: 2rem;
}

/*Right Column*/
.practice-our{
  display: flex;
  flex-direction: column;
  width: 40%;
  border-left: 1px solid lightgray;
}

.practice-feature{
  display: flex;
  width: 100%;
  padding: 16px 0;
  justify-content: flex-start;
  border-bottom: 1px solid lightgray;
  transition-property: "background-color";
  transition-duration: 250ms;
}

.practice-feature:hover{
  background-color: #172A3A;
}

.feature-image{
  height: 150px;
  width: 150px;
  padding-left: 16px;
}

.feature-image img{
  width: 100%;
  border-radius: 25px;
}

.feature-text{
  width: 65%;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feature-text h3,
.feature-text h4,
.feature-text span{
  padding: 4px 0;
}

.feature-text span{
  color: lightblue;
  font-weight: bold;
  padding: 4px 0;
}

@media only screen and (max-width: 400px){
  .practice-hurt{
    display: none;
  }
  .practice-our{
    width: 100%;
  }
  .practice-feature{
    flex-direction: column;
    align-items: center;
    padding: 16px 0px;
  }
  .feature-text{
    width: 100%;
    align-items: center;
    padding: 0;
  }
  .feature-text h4{
    text-align: center;
  }

  .feature-image{
    padding: 2rem 0 2rem 0;
  }
  .feature-image img{
    height: 150px;
    width: 150px;
  }
}

/*Learning*/
#learning{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #508991;
  width: 100%;
  margin: 0 auto;
  padding: 32px 0;
}

#learning-mobile{
  display: none;
}

#learning h1{
  align: center;
  margin: 0;
  padding-bottom: 32px;
}

.learning-row{
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

.major{
  display: flex;
  flex-direction: column;
  width: 30%;
  color: #172A3A;
  padding: 32px 24px;
  background-color: white;
  padding: 0 0 15px 0;
  border-radius: 25px;
}

.major h3,
.major span{
  padding: 6px 24px;
}

.major img{
  width: 100%;
  padding-bottom: 12px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

@media only screen and (max-width: 400px){
  #learning{
    display: none;
  }

  #learning-mobile{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    background-color: #508991;
    padding: 32px 0;
  }

  #learning-mobile h1{
    margin-bottom: 2rem;
    text-align: center;
  }

  #learning-mobile span{
    background-color: #74B3CE;
    padding: 16px;
    text-align: center;
    margin-bottom: 8px;
    margin-left: 16px;
    margin-right: 16px;
    border-radius: 15px;
    font-weight: bold;
    transition-property: "background-color";
    transition-duration: 250ms;
  }

  #learning-mobile span:hover{
    background-color: #172A3A;
  }

}

#thesis{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #74B3CE;
  width: 100%;
}
#thesis h1{
  padding: 32px 0;
}

.thesis-content{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#thesis-mobile{
  display: none;
}

@media only screen and (max-width: 400px){
  #thesis{
    display: none;
  }
  #thesis-mobile{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #74B3CE;
  }
  #thesis-mobile h1{
    text-align: center;
    padding-top: 32px;
  }
}

footer{
  width: 100%;
  height: 64px;
  border-top: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin: 0 auto;
  color: #172A3A;
}

@media only screen and (max-width: 400px){
  .terms{
    display: none;
  }
}
